@page
@model FreshFarmMarket_211283E.Pages.ErrorPages.Error401Model
@{
}
<div class="content flex-stack">
   <div class="noentry">
      <div class="ban"></div>
      <div class="messagebox">
         <h2>RESTRICTED ACCESS</h2>
         <p>This page is meant to only be accessed by certain people.</p>
         <div class="buttoncontainer">
            <div class="button">
               Close
            </div>
         </div>
      </div>
   </div>
</div>



