@page
@model FreshFarmMarket_211283E.Pages.RegisterModel
@{

}

<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://img.freepik.com/premium-vector/farmers-organic-marketfemale-farmer-selling-fresh-vegetables-stall-local-food-market-place-flat-vector-illustration-isolated-white-background-eps10_697732-163.jpg?w=2000"
                                    alt="Sample photo" class="img-fluid"
                                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>

                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase"> registration form</h3>
                                <form method="post" enctype="multipart/form-data" asp-antiforgery="true">
                                    @Html.AntiForgeryToken()
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="Upload">Photo</label>
                                            <input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
                                            <span asp-validation-for="Upload" class="text-danger"></span>
                                            <img id="imgPreview" class="rounded-circle" style="height:300px;width:300px;object-fit:cover; display:none" src="" />

                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.FullName">Full Name</label>
                                            <input type="Text" asp-for="RModel.FullName" class="form-control" />
                                            <span asp-validation-for="RModel.FullName"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.Gender">Gender</label><br />
                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input type="radio" asp-for="RModel.Gender" value="male"/> Male
                                            </div>
                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input type="radio" asp-for="RModel.Gender" value="female"/> Female
                                            </div>

                                            <span asp-validation-for="RModel.Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="Email">Email Address</label>
                                                <input type="email" asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
                                                <div style="display:flex; align-items:center; margin-top: -7px">
                                                    <p style="margin-right:10px;padding-top:10px;">+65</p> 
                                                    <input type="number" asp-for="PhoneNumber" class="form-control" />
                                                </div>
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="Password">Password</label>
                                            <input onkeyup="trigger()" id = "password_validation" type="password" asp-for="Password" class="form-control" required/>
                                            <span asp-validation-for="Password" class="text-danger"></span>

                                        </div>
                                        <div class="indicator">
                                            <span class="weak"></span>
                                            <span class="medium"></span>
                                            <span class="strong"></span>
                                        </div>
                                        <div class="text">Your Password is too weak</div>
                                        <div class="password_requirement">
                                            <ul>
                                                <li class="lowercase" ><span></span>One Lowercase Letter</li>
                                                <li class ="capital"><span></span>One Capital Letter</li>
                                                <li class ="number"><span></span>One Number</li>
                                                <li class ="special"><span></span>One Special Letter</li>
                                                <li class ="length"><span></span>At Least 12 Characters</li>
                                            </ul>
                                            
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" required/>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.DeliveryAddress">Delivery Address</label>
                                            <input type="Text" asp-for="RModel.DeliveryAddress" class="form-control" />
                                            <span asp-validation-for="RModel.DeliveryAddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.CreditCardNumber">Credit Card Number</label>
                                            <input type="text" asp-for="RModel.CreditCardNumber" class="form-control" />
                                            <span asp-validation-for="RModel.CreditCardNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.AboutMe">About Me</label>
                                            <textarea type="text" asp-for="RModel.AboutMe" class="form-control"></textarea>
                                            <span asp-validation-for="RModel.AboutMe" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="submit" class="btn btn-primary">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .password_requirement{
    display:none;
    }

    .password_requirement ul {
        padding:0;
        margin:0 0 20px;
        margin-top: 20px;
        list-style:none;
    }

    .password_requirement ul li {
        padding-left: 10px;
        margin-bottom:8px;
        color:red;
    }

    .password_requirement ul li.active{
        color: #02af02
    }

    .password_requirement ul li span:before{
                    content: "❌ "
                    

    }

    .password_requirement ul li.active span:before {
                    content: "✅  ";
    }



    .indicator{
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        display:none;
    }

    .indicator span{
        width: 100%;
        height: 100%;
        background: lightgrey;
        border-radius: 5px;
        position:relative;
    }

    .indicator span.medium {
        margin: 0 3px;
    }

    .indicator span:before{
        content:'';
        position:absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .indicator span.active.weak:before {
        
        background-color: #ff4757;
    }

    .indicator span.active.medium:before {
        background-color: orange;
    }

    .indicator span.active.strong:before {
        background-color: #23ad5c;
    }
    .text{
        font-size: 15px;
        font-weight: 500;
        display:none;
    }

    .text.weak{
            color: #ff4757;

    }
    .text.medium{
        color: orange;
    }

    .text.strong {
            color: #23ad5c;
    }

</style>

<script>
  
let passValue;
document.querySelector('#password_validation').addEventListener('focus', function(){
        document.querySelector('.password_requirement').style.display = "block";
    });
document.querySelector('#password_validation').addEventListener('blur', function(){
        document.querySelector('.password_requirement').style.display = "none";
    });

document.querySelector('#password_validation').addEventListener('keyup',function(){
    passValue = this.value;

    if(passValue.match(/[a-z]/g)){
        document.querySelector('.lowercase').classList.add('active');
    }else{
        document.querySelector('.lowercase').classList.remove('active');
    }

    if (passValue.match(/[A-Z]/g)) {
        document.querySelector('.capital').classList.add('active');
    } else {
        document.querySelector('.capital').classList.remove('active');
    }

    if (passValue.match(/[0-9]/g)) {
        document.querySelector('.number').classList.add('active');
    } else {
        document.querySelector('.number').classList.remove('active');
    }

    if (passValue.length >= 12) {
        document.querySelector('.length').classList.add('active');
    } else {
        document.querySelector('.length').classList.remove('active');
    }

    if (passValue.match(/[!@@#\$%^&*]/g)) {
        document.querySelector('.special').classList.add('active');
    } else {
        document.querySelector('.special').classList.remove('active');
    }

    
});

const indicator = document.querySelector(".indicator")
const input = document.querySelector("#password_validation")
const weak = document.querySelector(".weak")
const medium = document.querySelector(".medium")
const strong = document.querySelector(".strong")
const text = document.querySelector(".text")

let regExpWeak = /[a-z]/;
let regExpMedium = /\d+/;
let regExpStrong = /.[!,@@,#,$,%,^,&,*,?,_,~,-,(,)]/;

    function trigger() {
        if (input.value != "") {
            indicator.style.display = "block";
            indicator.style.display = "flex";
            if (input.value.length <= 3 && (input.value.match(regExpWeak) || input.value.match(regExpMedium) || input.value.match(regExpStrong))) no = 1;
            if (input.value.length >= 6 && ((input.value.match(regExpWeak) && input.value.match(regExpMedium)) || (input.value.match(regExpMedium) && input.value.match(regExpStrong)) || (input.value.match(regExpWeak) && input.value.match(regExpStrong)))) no = 2;
            if (input.value.length >= 6 && input.value.match(regExpWeak) && input.value.match(regExpMedium) && input.value.match(regExpStrong)) no = 3;
            if (no == 1) {
                weak.classList.add("active");
                text.style.display = "block";
                text.textContent = "Your password is too week";
                text.classList.add("weak");
            }
            if (no == 2) {
                medium.classList.add("active");
                text.textContent = "Your password is medium";
                text.classList.add("medium");
            } else {
                medium.classList.remove("active");
                text.classList.remove("medium");
            }
            if (no == 3) {
                weak.classList.add("active");
                medium.classList.add("active");
                strong.classList.add("active");
                text.textContent = "Your password is strong";
                text.classList.add("strong");
            } else {
                strong.classList.remove("active");
                text.classList.remove("strong");
            }
        } else {
            indicator.style.display = "none";
            text.style.display = "none";
        }
    }




</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function showImgPreview(input) {
        var imgPreview = document.getElementById("imgPreview");
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgPreview.src = e.target.result;
                imgPreview.style.display = "block";
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            imgPreview.style.display = "none";
        }
    }
</script>
