@page
@model FreshFarmMarket_211283E.Pages.RegisterModel
@{

}

<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://img.freepik.com/premium-vector/farmers-organic-marketfemale-farmer-selling-fresh-vegetables-stall-local-food-market-place-flat-vector-illustration-isolated-white-background-eps10_697732-163.jpg?w=2000"
                                    alt="Sample photo" class="img-fluid"
                                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>

                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase"> registration form</h3>
                                <form method="post" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="Upload">Photo</label>
                                            <input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
                                            <span asp-validation-for="Upload" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.FullName">Full Name</label>
                                            <input type="Text" asp-for="RModel.FullName" class="form-control" />
                                            <span asp-validation-for="RModel.FullName"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.Gender">Gender</label><br />
                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input type="radio" asp-for="RModel.Gender" value="male" /> Male
                                            </div>
                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input type="radio" asp-for="RModel.Gender" value="female" /> Female
                                            </div>

                                            <span asp-validation-for="RModel.Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="RModel.Email">Email Address</label>
                                                <input type="email" asp-for="RModel.Email" class="form-control" />
                                                <span asp-validation-for="RModel.Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" asp-for="RModel.PhoneNumber">Phone Number</label>
                                                <input type="number" asp-for="RModel.PhoneNumber" class="form-control" />
                                                <span asp-validation-for="RModel.PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="Password">Password</label>
                                            <input id = "password_validation" type="password" asp-for="Password" class="form-control" required/>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="password_requirement">
                                            <ul>
                                                <li class="lowercase" ><span></span>One Lowercase Letter</li>
                                                <li class ="capital"><span></span>One Capital Letter</li>
                                                <li class ="number"><span></span>One Number</li>
                                                <li class ="special"><span></span>One Special Letter</li>
                                                <li class ="length"><span></span>At Least 12 Characters</li>
                                            </ul>
                                            
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" required/>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.DeliveryAddress">Delivery Address</label>
                                            <input type="Text" asp-for="RModel.DeliveryAddress" class="form-control" />
                                            <span asp-validation-for="RModel.DeliveryAddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.CreditCardNumber">Credit Card Number</label>
                                            <input type="text" asp-for="RModel.CreditCardNumber" class="form-control" />
                                            <span asp-validation-for="RModel.CreditCardNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" asp-for="RModel.AboutMe">About Me</label>
                                            <textarea type="text" asp-for="RModel.AboutMe" class="form-control"></textarea>
                                            <span asp-validation-for="RModel.AboutMe" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="submit" class="btn btn-primary">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .password_requirement{
    display:none;
    }

    .password_requirement ul {
        padding:0;
        margin:0 0 20px;
        margin-top: 20px;
        list-style:none;
    }

    .password_requirement ul li {
        padding-left: 10px;
        margin-bottom:8px;
        color:red;
    }

    .password_requirement ul li.active{
        color: #02af02
    }

    .password_requirement ul li span:before{
                    content: "❌ "
                    

    }

    .password_requirement ul li.active span:before {
                    content: "✅  ";
    }

</style>

<script>
  
let passValue;
document.querySelector('#password_validation').addEventListener('focus', function(){
        document.querySelector('.password_requirement').style.display = "block";
    });
document.querySelector('#password_validation').addEventListener('blur', function(){
        document.querySelector('.password_requirement').style.display = "none";
    });

document.querySelector('#password_validation').addEventListener('keyup',function(){
    passValue = this.value;

    if(passValue.match(/[a-z]/g)){
        document.querySelector('.lowercase').classList.add('active');
    }else{
        document.querySelector('.lowercase').classList.remove('active');
    }

    if (passValue.match(/[A-Z]/g)) {
        document.querySelector('.capital').classList.add('active');
    } else {
        document.querySelector('.capital').classList.remove('active');
    }

    if (passValue.match(/[0-9]/g)) {
        document.querySelector('.number').classList.add('active');
    } else {
        document.querySelector('.number').classList.remove('active');
    }

    if (passValue.length >= 12) {
        document.querySelector('.length').classList.add('active');
    } else {
        document.querySelector('.length').classList.remove('active');
    }

    if (passValue.match(/[!@@#\$%^&*]/g)) {
        document.querySelector('.special').classList.add('active');
    } else {
        document.querySelector('.special').classList.remove('active');
    }

    
});
</script>